
<div class="row example">
  <div class="col-md-6">
    <p>Farol</p>
    <input class=".col-md-4" ng-model="valorFarol">
  </div>
  <div class="col-md-6 text-center">
    Directiva: {{ valorFarol }} <i class="fa fa-circle fa-4x"></i>
  </div>
</div>



<div class="row example">
  <div class="col-md-6">
    <p>Multiplica</p>
    <p>{{ multi }}</p>
    <input class=".col-md-4" ng-model="multi">
  </div>
  <div class="col-md-6 text-center">
    Directiva: {{ multi }} x <span class="fa fa-money"></span>
  </div>
</div>

